main {
    margin-bottom: 50px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.jumbotrom {
    background-repeat: no-repeat;
}

.h1margin {
    margin-top: 50px;
    opacity: 0.5 !important;
    background-color: whitesmoke;

}
.h1spancolor {
    color: black;
    font-weight: 600; text-shadow: 1px 1px #ffffff;
    opacity: 1 !important;
    
    
}

.modal-weather {
    background:rgba(255,255,255, 0.8);
}

.card {
    background:rgba(255,255,255, 0.8) !important;
}

.social-networks{
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline;
  
}

.social-networks li{
  display: inline;
  width: 100%;
  
}

.social-networks i{
  font-size: 120%;
  color: #777777;
  margin-left: 25px;
}

.fa-facebook:hover {
    color: #fff;
}
.fa-twitter:hover {
    color: #fff;
}
.fa-youtube:hover {
    color: #fff;
}
.fa-instagram:hover{
    color:#fff;
}

.linkwidth {
    width: 50px;
}

.marginNewsletter {
    margin-top: 50px;
}

.overflow {
    overflow: hidden;
}

.hero-image {
    background-image: url(../images/latestnews.jpg);
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.85;
}

@media (max-width: 770px) {
    .hero-image { background-image: url(../images/news-cellphone.jpg); }
    .h1media {font-size: 67px;}
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:45px;
    width:100%;
    background: #343a40!important;
 }

 #footer p {
     color: #fff;
     padding: 10px 10px;
 }



