.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.jumbotrom {
    background-image: url("../images/london.jpg")
}

.h1spancolor {
    color: grey;

}

.modal-weather {
    background:rgba(255,255,255, 0.8);
}

.card {
    background:rgba(255,255,255, 0.8) !important;
}